<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apsis Module Demo</title>
    <link rel="stylesheet" href="http://qahelppages.apsis.local/images/foxtrot/tenko-core.css">
</head>
<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" charset="utf-8"></script>
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        System.import('demo/demo');
    </script>
</body>
</html>
