<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Apsis Module Demo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <h1 ng-controller="ExampleController">This is a demo.</h1>

    <apsis-example-directive></apsis-example-directive>
    <script src="/jspm_packages/system.js"></script>
    <script src="/jspm.conf.js"></script>
    <script>
        System.import('demo/demo');
    </script>
</body>
</html>